{% extends "base.html" %}

{% block title %}
	{% if type %}
		{{ type.type_name }}
	{% else %}Galleries
	{% endif %}
{% endblock %}


{% block content %}

			<header>
				<ul class="tabs">
						<li {% if not type %}class="button"{% endif %}>
							<a href="{% url 'artikel:product_list' %}" class="button">All</a>
						</li>
						{% for c in types %}
							<li {% if type.slug == c.slug %}class="button"{% endif %}>
								<a href="{{ c.get_absolute_url }}" class="button">{{ c.type_name }}</a>
							</li>
						{% endfor %}
				</ul>
			</header>

			<div>
				<h1>
					{% if type %}
						{{ type.type_name }}
					{% else %}Galleries
					{% endif %}
				</h1><hr>
			</div>

			<div class="content">
				{% for product in products %}
								<div class="media">
									<a href="{{ product.get_absolute_url }}">
										<img src="{{ product.figure1.url }}">
									</a>
									<p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
									Rp {{ product.price }}</p>
								</div>

				{% endfor %}
			</div>

{% endblock %}
