{% extends "base.html" %}

{% block content %}

<header>
	<ul class="tabs">
		{% for cdef in product_list %}
			<li><a href="#{{ cdef.type }}" class="button">{{ cdef.type }}</a></li>
		{% endfor %}
	</ul>
</header>


<div id="{{ cdef.type }}">
	<h1>TES</h1><hr>
	<div class="content">
		{% for abcd in product_list %}
		<div class="media all people">
				<a href="images/01.jpg"><img src="{{ abcd.figure1.url }}" alt="" title="This right here is a caption."/></a>
		</div>
	{% endfor %}
	</div>

	<br><br><br><br>
</div>


{% endblock %}



<div id="people">
	<h1>People</h1><hr>
	<div class="content">
		<div class="media all people">
			<a href="images/01.jpg"><img src="images/01.jpg" alt="" title="This right here is a caption." /></a>
		</div>
	</div>
	<br><br><br><br>
</div>
<div id="places">
	<h1>Places</h1><hr>
	<div class="content">
		<div class="media all people">
			<a href="images/10.jpg"><img src="images/10.jpg" alt="" title="This right here is a caption." /></a>
		</div>
	</div>
	<br><br><br><br>
</div>
<div id="things">
	<h1>Things</h1><hr>
	<div class="content">
		<div class="media all place">
			<a href="images/04.jpg"><img src="images/04.jpg" alt="" title="This right here is a caption." /></a>
		</div>
		<div class="media all place">
			<a href="images/08.jpg"><img src="images/08.jpg" alt="" title="This right here is a caption." /></a>
		</div>
		<div class="media all place">
			<a href="images/12.jpg"><img src="images/12.jpg" alt="" title="This right here is a caption." /></a>
		</div>
	</div>
</div>
